In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('train.csv')
df['Leather interior'].unique

<bound method Series.unique of 0        Yes
1         No
2         No
3        Yes
4        Yes
        ...
19232    Yes
19233    Yes
19234    Yes
19235    Yes
19236    Yes
Name: Leather interior, Length: 19237, dtype: object>

In [5]:
def YNToNum(choice):
    choice = choice.lower()
    if choice == 'yes':
        return 1
    elif choice == 'no':
        return 0
df['Leather interior'] = df['Leather interior'].apply(lambda x: YNToNum(x))

In [6]:
df.Mileage = df.Mileage.apply(lambda x: float(int(x.split()[0]))/1000)
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,1,Hybrid,3.5,186.005,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,0,Petrol,3,192.000,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,0,Petrol,1.3,200.000,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,1,Hybrid,2.5,168.966,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,1,Petrol,1.3,91.901,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [7]:
df['Cylinders'] = df['Cylinders'].apply(lambda x: int(x))
df

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,1,Hybrid,3.5,186.005,6,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,0,Petrol,3,192.000,6,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,0,Petrol,1.3,200.000,4,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,1,Hybrid,2.5,168.966,4,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,1,Petrol,1.3,91.901,4,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,-,MERCEDES-BENZ,CLK 200,1999,Coupe,1,CNG,2.0 Turbo,300.000,4,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,45778856,15681,831,HYUNDAI,Sonata,2011,Sedan,1,Petrol,2.4,161.600,4,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,836,HYUNDAI,Tucson,2010,Jeep,1,Diesel,2,116.365,4,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,1288,CHEVROLET,Captiva,2007,Jeep,1,Diesel,2,51.258,4,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,753,HYUNDAI,Sonata,2012,Sedan,1,Hybrid,2.4,186.923,4,Automatic,Front,04-May,Left wheel,White,12

In [8]:
df = df.drop(labels='Levy', axis='columns')
df

,ID,Price,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,LEXUS,RX 450,2010,Jeep,1,Hybrid,3.5,186.005,6,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,CHEVROLET,Equinox,2011,Jeep,0,Petrol,3,192.000,6,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,HONDA,FIT,2006,Hatchback,0,Petrol,1.3,200.000,4,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,FORD,Escape,2011,Jeep,1,Hybrid,2.5,168.966,4,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,HONDA,FIT,2014,Hatchback,1,Petrol,1.3,91.901,4,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19232,45798355,8467,MERCEDES-BENZ,CLK 200,1999,Coupe,1,CNG,2.0 Turbo,300.000,4,Manual,Rear,02-Mar,Left wheel,Silver,5
19233,45778856,15681,HYUNDAI,Sonata,2011,Sedan,1,Petrol,2.4,161.600,4,Tiptronic,Front,04-May,Left wheel,Red,8
19234,45804997,26108,HYUNDAI,Tucson,2010,Jeep,1,Diesel,2,116.365,4,Automatic,Front,04-May,Left wheel,Grey,4
19235,45793526,5331,CHEVROLET,Captiva,2007,Jeep,1,Diesel,2,51.258,4,Automatic,Front,04-May,Left wheel,Black,4
19236,45813273,470,HYUNDAI,Sonata,2012,Sedan,1,Hybrid,2.4,186.923,4,Automatic,Front,04-May,Left wheel,White,12

In [9]:
df.dtypes

ID                    int64
Price                 int64
Manufacturer         object
Model                object
Prod. year            int64
Category             object
Leather interior      int64
Fuel type            object
Engine volume        object
Mileage             float64
Cylinders             int64
Gear box type        object
Drive wheels         object
Doors                object
Wheel                object
Color                object
Airbags               int64
dtype: object

4x4 - 3

rear - 2

front - 1

Based on expense

In [77]:
def DriveWheelsConv(n):
    n = n.lower()
    if n == '4x4':
        return 3
    elif n == 'rear':
        return 2
    elif n == 'front':
        return 1
df['Drive wheels'] = df['Drive wheels'].apply(lambda x: DriveWheelsConv(x))

In [11]:
df.dtypes

ID                    int64
Price                 int64
Manufacturer         object
Model                object
Prod. year            int64
Category             object
Leather interior      int64
Fuel type            object
Engine volume        object
Mileage             float64
Cylinders             int64
Gear box type        object
Drive wheels         object
Doors                object
Wheel                object
Color                object
Airbags               int64
dtype: object

In [13]:
categorical_var = ['Manufacturer', 'Model', 'Category', 'Fuel type', 'Engine volume', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color']
numerical_var = ['Prod. year', 'Leather interior', 'Mileage', 'Cylinders', 'Airbags']

In [ ]:
y = df.price